.todoForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: clamp(400px, 65%, 750px);
}

.description {
  background-color: var(--background);
  padding: 0.25rem;
  color: var(--text);
  border-radius: 4px;
  border: 1px solid var(--primary);
  resize: none;
}

.description:hover {
  background-color: var(--primary-900);
}

.description:focus-visible {
  outline: 2px solid var(--primary-400);
  background-color: var(--primary-950);
}
