.authFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: clamp(318px, 100%, 500px);
  margin: auto;
}

@media (width >= 575px) {
  .authFormContainer {
    border: 1px solid var(--primary);
    padding: 1rem;
    border-radius: 8px;
  }
}
