.navWrapper {
  border-bottom: 1px solid var(--primary);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  width: 80%;
  margin: auto;
}

@media (max-width: 768px) {
  .nav {
    padding: 1rem;
    width: 100%;
  }
}

.loginRegisterWrapper {
  display: flex;
  gap: 1rem;
}

.todoApp {
  font-size: 1.25rem;
  font-weight: 600;
}

.navLink {
  font-weight: 500;
}
